*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-image: url('mainbackground.jpg');
    object-fit: contain;
    backdrop-filter: blur(5px);
        min-height: 100vh;

}

.mainContainer{
    /* height: 100vh; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.udvozloContainer{
        height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.udvozloDiv{
    width: 1200px;
    background-color: rgba(211, 211, 211, 0.534);
    backdrop-filter: blur(5px);
    color: black;
    border: 3px solid black;
    padding: 80px;
    border-radius: 40px;
}

.udvozloSzoveg{
    font-size: 55px;
    text-align: center;
}

.udvozloLeiras{
    font-size: 25px;
    text-align: center;
    margin-bottom: 55px;
}
.jatekStartForm{
    display: flex;
    justify-content: center;
    align-items: center;

}

.jatekGomb{
    border-radius: 10px;
    font-size: 35px;
    width: 225px;
    height: 50px;
    margin-top: 25px;
    cursor: pointer;
    border: none;
    transition: border-radius 0.15s;
}

.jatekGomb:hover{
    background-color: rgb(226, 226, 226);
    border-radius: 40px;
}

.kerdesDiv{
    width: 100%;
}

.ujraGomb{
    position: absolute;
    font-size: 35px;
    width: 200px;
    height: 50px;

    cursor: pointer;
    border: none;
    top: 13px;
    left: 13px;
        background-color: black;
    color: white;

    border: 2px solid rgb(0, 60, 255);
    border-radius: 15px;
}

.jatekDiv{


    display: none;

    width: 95%;
    margin: auto;
        align-items: center;

    
    

}

.insideContainer{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}


.osszegDiv, .kerdesDiv, .valaszElso, .valaszMasodik, .valaszHarmadik, .valaszNegyedik{
    background-color: black;
    color: white;

    border: 2px solid rgb(0, 60, 255);
    border-radius: 15px;

}

.valaszElso, .valaszMasodik, .valaszHarmadik, .valaszNegyedik{
    padding: 15px;
    text-align: center;
    font-size: 42px;
    margin: 5px;
    cursor: pointer;
}

.valaszElso:hover, .valaszMasodik:hover, .valaszHarmadik:hover, .valaszNegyedik:hover, .ujraGomb:hover{
    background-color: rgb(32, 32, 32);
}


.osszegDiv{
    width: 17%;
    font-size: 45px;
    text-align: center;
    margin-left: auto;
    padding: 2px;
    margin-bottom: 5px;
    max-height: 70px;
}
.kerdesDiv{
    width: 95%;
    text-align: center;
    margin: auto;
    padding: 35px;
    font-size: 35px;

}

.valaszokDiv{
    
    display: grid;
    grid-template-columns: repeat(2, minmax(45%, 45%));
    grid-template-rows: repeat(2, minmax(100px, 100px));
    justify-content: center;
}

.valaszokDiv p {
    font-size: 5.9vw;
}
