*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-image: url('assets/mainbackground.jpg');
    object-fit: contain;
    backdrop-filter: blur(5px);
        min-height: 100vh;

}

.mainContainer{
    /* height: 100vh; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.udvozloContainer{
        height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.udvozloDiv{
    width: 1200px;
    background-color: rgba(211, 211, 211, 0.534);
    backdrop-filter: blur(5px);
    color: black;
    border: 3px solid black;
    padding: 80px;
    border-radius: 40px;
    box-shadow: 5px 2px 15px rgba(0, 0, 0, 0.37);
        vertical-align: middle;
}

.udvozloSzoveg{
    font-size: 55px;
    text-align: center;
}

.udvozloLeiras{
    font-size: 25px;
    text-align: center;
    margin-bottom: 55px;
}
.jatekStartForm{
    display: flex;
    justify-content: center;
    align-items: center;


}

.jatekGomb{
    border-radius: 10px;
    font-size: 35px;
    width: 225px;
    height: 50px;
    margin-top: 25px;
    cursor: pointer;
    border: none;
    transition: border-radius 0.15s;
    
}

.jatekGomb:hover{
    background-color: rgb(226, 226, 226);
    border-radius: 40px;
}

.kerdesDiv{
    width: 100%;
}

.ujraGomb{
    position: absolute;
    font-size: 35px;
    width: 200px;
    height: 50px;

    cursor: pointer;
    border: none;
    top: 13px;
    left: 13px;
        background-color: black;
    color: white;

    border: 2px solid rgb(0, 60, 255);
    border-radius: 15px;
}

.jatekDiv{


    display: none;

    width: 95%;
    margin: auto;
        align-items: center;

    
    

}

.insideContainer{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}


.osszegDiv, .kerdesDiv, .valaszElso, .valaszMasodik, .valaszHarmadik, .valaszNegyedik{
    background-color: black;
    color: white;

    border: 2px solid rgb(0, 60, 255);
    border-radius: 15px;

}

.valaszElso, .valaszMasodik, .valaszHarmadik, .valaszNegyedik{
    padding: 15px;
    text-align: center;
    font-size: 42px;
    margin: 5px;
    cursor: pointer;
   overflow-wrap: break-word;
        
}

.valaszElso:hover, .valaszMasodik:hover, .valaszHarmadik:hover, .valaszNegyedik:hover, .ujraGomb:hover{
    background-color: rgb(32, 32, 32);
}


.osszegDiv{
    width: 17%;
    font-size: 45px;
    text-align: center;
    margin-left: auto;
    padding: 2px;
    margin-bottom: 5px;
    max-height: 70px;
}
.kerdesDiv{
    width: 95%;
    text-align: center;
    margin: auto;
    padding: 35px;
    font-size: 35px;

}

.valaszokDiv{
    
    display: grid;
    grid-template-columns: repeat(2, minmax(45%, 45%));
    grid-template-rows: repeat(2, minmax(100px, 100px));
    justify-content: center;
    overflow: hidden;

}

.valaszElso {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  padding: 10px;
}


.valaszElso p{
  font-size: clamp(0.8vw, 1.8vw, 1.8vw); 
  white-space: normal;
  overflow-wrap: anywhere;
  word-break: break-word;
  text-align: center;
  margin: 0;

}



.overlayNyeremeny {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: none; 
  justify-content: center;
  align-items: center;
  z-index: 9999;
}


.tabla {
  background-color: rgb(8, 16, 54);
  color: white;
  border: 3px solid gold;
  border-radius: 15px;
  padding: 30px 50px;
  text-align: center;
  box-shadow: 0 0 20px gold;
}

.tablaCim {
  color: gold;
  font-size: 32px;
  margin-bottom: 15px;
}

.nyeremenyLista {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.nyeremenyLista li {
  font-size: 24px;
  padding: 5px 15px;
  border-bottom: 1px solid rgba(255, 215, 0, 0.4);
}

.nyeremenyLista li.active {
  background-color: orange;
  color: black;
  font-weight: bold;
}


.kiszallasGombok {
  display: none; 
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.kiszallasGombok button {
  font-size: 22px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  background-color: #007bff;
  transition: background-color 0.2s;
}

.kiszallasGombok button:hover {
  background-color: #0056b3;
}

#kiszallokBtn {
  background-color: #d9534f;
}

#kiszallokBtn:hover {
  background-color: #b52b27;
}


.overlayKiszallas {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.85);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}


.overlayKiszallas .tabla {
  background-color: rgb(8, 16, 54);
  color: white;
  border: 3px solid gold;
  border-radius: 20px;
  padding: 40px 60px;
  text-align: center;
  box-shadow: 0 0 25px gold;
  max-width: 500px;
}

#kiszallasUzenet {
  font-size: 26px;
  margin-bottom: 30px;
  color: gold;
}

#visszaMenuBtn {
  font-size: 22px;
  padding: 12px 25px;
  border: none;
  border-radius: 10px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#visszaMenuBtn:hover {
  background-color: #0056b3;
}
